<div class="ceekul-main-background-color py-4 white-color">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center font-35 text-white font-weight-bold mb-6"> Get in touch</h2>
            </div>
            
            <div class="col-12 col-md-5"> 
                 <form>
                  <div class="form-group focus-input focus-input-white">
                    <input type="text" required class="form-control ceekul-contact-hover-input ceekul-forth-border-color" id="name"> 
                    <label for="name">Name</label>
                  </div>
                  <div class="form-group focus-input focus-input-white">
                    <input type="text" required class="form-control ceekul-contact-hover-input ceekul-forth-border-color" id="email">
                    <label for="email">Email</label>
                  </div>
                  <div class="form-group focus-input focus-input-white">
                    <input type="text" required class="form-control ceekul-contact-hover-input ceekul-forth-border-color" id="subject">
                    <label for="subject">Subject</label>
                  </div>
                  <div class="form-group focus-input focus-input-white">
                    <textarea required class="form-control ceekul-contact-hover-input ceekul-contact-input-area ceekul-forth-border-color" rows="3" id="message"></textarea>
                    <label for="message">Message</label>
                  </div>
                   
                  <button type="submit" class="btn ceekul-second-background-color rounded-0 px-5 mt-3 white-color py-2">Send</button>
                </form>
                
            </div>
            <div class="col-12 col-md-6 offset-md-1 mt-4 mt-md-0">
                <a href="#"><img src="../../../assets/images/hs logo.png" class="logo" alt="ceekul template"></a>
                <p class="font-15 my-4">
                    Founders (Dr Manoj Srivastava, Prof Rashmi Chandra and Keshan), Trustee, Vision Council (Civilizer), Executive Council (Chancellor, Vice Chancellors, Directors, Supervisors, Managers), Ceekul Times (Editor).      </p>
                <div class="mb-3">
                    <h4 class="font-16 semi-font text-white"><span class="ceekul-iconmap-icon ceekul-third-text-color font-23 mr-3"></span> Address Information</h4>
                    <p class="ceekul-third-text-color font-14 ml-5 mt-2">H.No 1103, Foster Height, Crossing Republic, Gaziabaad India</p>
                </div>
                <div class="mb-3">
                    <h4 class="font-16 semi-font text-white"><span class="ceekul-iconphone ceekul-third-text-color font-23 mr-3"></span> Call Now </h4>
                    <p class="ceekul-third-text-color font-14 ml-5 mt-2">+91 92053 03191</p>
                </div>
                <div class="mb-3">
                    <h4 class="font-16 semi-font text-white"><span class="ceekul-iconemail ceekul-third-text-color font-20 mr-3"></span> Mail </h4>
                    <p class="ceekul-third-text-color font-14 ml-5 mt-2">adminsupport@hsacademy.tech</p>
                </div> 
                
            </div>
        </div> 
        
    </div>
</div> 
<div class="copyright ceekul-main-background-color mt-0 border-0 white-color">
    <ul class="nav ceekul-footer-social-links justify-content-center ceekul-light-footer-links">
        <li><a href="#" target="_blank"><i class="fab fa-google-plus-square"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-pinterest-square"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    </ul>
    <p class="mb-0">Copyright © Ceekul 2024. All rights reserved.</p> 
    <p class="mb-0">designed by <a href="surajexpo.com" target="_blank">SurajExpo</a></p> 
     
</div>