<div class="container">
    <div class="p-3">
      <marquee width="80%" direction="left" height="30px" scrollamount="1">
        Online Seminar on AI for Girl Power during 2-5 PM on the fourth Sunday of
        every month
      </marquee>
    </div>
  </div>
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand logo me-0" routerLink="/">HS ACADEMY</a>
      <form class="d-flex" role="search">
        <input
          class="form-control"
          type="search"
          placeholder="Search..."
          aria-label="Search"
        />
        <button class="btn search-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
  </nav>