
  <nav class="navbar">
    <div class="container-fluid">
      
      <a class="navbar-brand logo me-0" routerLink="/"><img src="../../../assets/images/hs logo.png" alt=""></a>
      <div class="row mt-4 px-5 mb-4">
        <div class="col">
          <a routerLink="/signup" class="text-white text-decoration-none">Register</a>
        </div>
        <div class="col"><a>Chat</a></div>
        <div class="col"><a>Contact</a></div>
      </div>
      <form class="d-flex" role="search">
        <input
          class="form-control"
          type="search"
          placeholder="Search..."
          aria-label="Search"
        />
        <button class="btn search-btn" type="submit">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </form>
    </div>
  </nav>