nav {
    color: #f4f9e9;
    
  }
  .logo img{

    height: 60px;
  }
  .navbar-brand{
      font-size: 2.5rem;
      color: #FF9933;
      cursor: pointer;
  }
  .search-btn{
      color: #FFF;
      border: 1px solid #FFF;
      border-radius: 0px 5px 5px 0px;
      background-color: #FF9933;
  }
  .form-control{
    border-radius: 5px 0px 0px 5px !important;
  }
 .navbar-toggler{
  background-color: #FFF !important;
 }
  