<div class="container">
  <div class="p-3">
    <marquee width="80%" direction="left" height="30px" scrollamount="1">
      Online Seminar on AI for Girl Power during 2-5 PM on the fourth Sunday of
      every month
    </marquee>
  </div>
</div>
<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand mb-3 ">HS ACADEMY</a>
    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>
</nav>
<div class="container mt-3">
    <div class="p-3 text-center">
        <h2 class="vision">
            Vision & Mission
        </h2>
    </div>
  <div class="row mt-4">
   
    <div class="col-lg mb-3">
      <div class="box">
        <div>
          <h3> Education & Research</h3>
        </div>
        <p>
            Certificate Courses (AI For Everyone / AI For Girl Power / AI For Film Education) <br>
            School / College Courses (Focus On NIOS / IGNOU Type Distance Learning Courses)<br>
            Innovation And Entrepreneurship<br>
            <a routerLink="course-detail">Competitive Examinations</a> <br>

        </p>
      </div>
    </div>
    <div class="col-lg mb-3">
      <div class="box">
        <div>
          <h3>Health Care & Human Engineering</h3>
        </div>
        <p>
             </p>
            Patient Care &#9830; Health Camp &#9830; Healthcare Training (AI for Healthcare and Human Engineering)
            <br><br>
            Biomedical Engineering &#9830; Human Transformation   
       
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg mb-3">
      <div class="box">
        <div>
          <h3>Digital Self Governance</h3>
        </div>
        <p>
            AI for Law and Justice by Dr Manoj Srivastava and Keshan
        </p>
      </div>
    </div>
    <div class="col-lg mb-3">
      <div class="box">
        <div>
          <h3>Socio-Economic Transformation</h3>
        </div>
        <p>
            Evolving digital ceekul system will convert the culture of perpetual crime competition, corruption and frequent wars to a new culture of perpetual creative competition, innovation and justice with health promoting entertainment.
        </p>
      </div>
    </div>
    <div class="col-lg mb-3">
      <div class="box">
        <div>
          <h3>Environment Friendly Regional Development</h3>
        </div>
        <p>
            AI for Environment Modeling by Dr Manoj Srivastava.
<br>
            AI for Environment Friendly Regional Automation by Dr Manoj Srivastava.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4 px-5 mb-4">
  <div class="col"><a routerLink="/signup" class="text-white text-decoration-none">Register</a></div>
  <div class="col"><a>Chat</a></div>
  <div class="col"><a>Contact</a></div>
</div>
<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->


