nav {
    color: #f4f9e9;
    background-color: #191919;
  }
  .navbar-brand{
      font-size: 2.5rem;
      color: #FF9933;
      cursor: pointer;
  }
  .search-btn{
      color: #FFF;
      border: 1px solid #FFF;
      background-color: #FF9933;
  }
@media screen and (max-width: 576px) {
    .navbar>.container-fluid{
      justify-content: center !important;
    }
  }