
<div class="container">
    <div class="p-3">
      <marquee width="80%" direction="left" height="30px" scrollamount="1">
        Online Seminar on AI for Girl Power during 2-5 PM on the fourth Sunday of
        every month
      </marquee>
    </div>
  </div>
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand mb-3 " routerLink="/">HS ACADEMY</a>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
  </nav>
  <div class="p-3 text-center">
    <h2 class="vision">
        Vision & Mission
    </h2>
</div>
<div class="container mt-1">
  <div class="text-center education">
    <h2>Education & Research</h2></div>
  <section>
    
  <p class="mb-3">
    So I conceptualized and developed the idea of an integrated virtual scene that will facilitate to let 
    anyone learn online from her/his choice virtual human agent (e.g. learning special theory of relativity 
    by virtual Einstein)  and seek answers for her/his questions from the teacher bot in the voice of the teacher.
  </p>
 <div>
 
  <p>
   <span class="fs-4"> Xyz :</span> So I conceptualized and developed the idea of an integrated virtual scene that will facilitate to 
   let anyone learn online from her/his choice virtual human agent (e.g. learning special

 </p>
  <p>
   <span class="fs-5">  Abc :</span>    So I conceptualized and developed the idea of an integrated virtual scene that will facilitate 
   to let anyone learn online from her/his choice virtual human agent (e.g. learning special

 </p>
</div>
  

</section>
  <section>
    <div class="text-center">
      <h4>Certificate Courses</h4></div>
  <p class="mb-3">
    So I conceptualized and developed the idea of an integrated virtual scene that will facilitate to let 
    anyone learn online from her/his choice virtual human agent (e.g. learning special theory of relativity 
    by virtual Einstein)  and seek answers for her/his questions from the teacher bot in the voice of the teacher.
  </p>
 <div>
 
  <p>
   <span class="fs-4"> Xyz :</span> So I conceptualized and developed the idea of an integrated virtual scene that will facilitate to 
   let anyone learn online from her/his choice virtual human agent (e.g. learning special

 </p>
  <p>
   <span class="fs-5">  Abc :</span>    So I conceptualized and developed the idea of an integrated virtual scene that will facilitate 
   to let anyone learn online from her/his choice virtual human agent (e.g. learning special

 </p>
</div>
  

</section>
  <section>
    <div class="text-center">
      <h4>School / College Courses</h4></div>
  <p class="mb-3">
    So I conceptualized and developed the idea of an integrated virtual scene that will facilitate to let 
    anyone learn online from her/his choice virtual human agent (e.g. learning special theory of relativity 
    by virtual Einstein)  and seek answers for her/his questions from the teacher bot in the voice of the teacher.
  </p>
 <div>
 
  <p>
   <span class="fs-3"> Xyz :</span> So I conceptualized and developed the idea of an integrated virtual scene that will facilitate to 
   let anyone learn online from her/his choice virtual human agent (e.g. learning special

 </p>
  <p>
   <span class="fs-3">  Abc :</span>    So I conceptualized and developed the idea of an integrated virtual scene that will facilitate 
   to let anyone learn online from her/his choice virtual human agent (e.g. learning special

 </p>
</div>
  

</section>
  <section>
    <div class="text-center">
      <h4>Competitive Examinations</h4></div>
  <p class="mb-3">
    So I conceptualized and developed the idea of an integrated virtual scene that will facilitate to let 
    anyone learn online from her/his choice virtual human agent (e.g. learning special theory of relativity 
    by virtual Einstein)  and seek answers for her/his questions from the teacher bot in the voice of the teacher.
  </p>
 <div>
 
  <p>
   <span class="fs-3"> Xyz :</span> So I conceptualized and developed the idea of an integrated virtual scene that will facilitate to 
   let anyone learn online from her/his choice virtual human agent (e.g. learning special

 </p>
  <p>
   <span class="fs-3">  Abc :</span>    So I conceptualized and developed the idea of an integrated virtual scene that will facilitate 
   to let anyone learn online from her/his choice virtual human agent (e.g. learning special

 </p>
</div>
  

</section>
  <section>
    <div class="text-center">
      <h4>Innovation and Entrepreneurship</h4></div>
  <p class="mb-3">
    So I conceptualized and developed the idea of an integrated virtual scene that will facilitate to let 
    anyone learn online from her/his choice virtual human agent (e.g. learning special theory of relativity 
    by virtual Einstein)  and seek answers for her/his questions from the teacher bot in the voice of the teacher.
  </p>
 <div>
 
  <p>
   <span class="fs-4"> Xyz :</span> So I conceptualized and developed the idea of an integrated virtual scene that will facilitate to 
   let anyone learn online from her/his choice virtual human agent (e.g. learning special

 </p>
  <p>
   <span class="fs-5">  Abc :</span>    So I conceptualized and developed the idea of an integrated virtual scene that will facilitate 
   to let anyone learn online from her/his choice virtual human agent (e.g. learning special

 </p>
</div>
  

</section>

  <div class="container d-none">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Chapter #1
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Chapter #2
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Chapter #3
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                Chapter #4
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                Chapter #5
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
            </div>
          </div>
        </div>
      </div>
  </div>