<div class="container">
  <div class="p-3">
    <marquee width="80%" direction="left" height="30px" scrollamount="1">
      Online Seminar on AI for Girl Power during 2-5 PM on the fourth Sunday of
      every month
    </marquee>
  </div>
</div>
<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand logo me-0">HS ACADEMY</a>
    <form class="d-flex" role="search">
      <input
        class="form-control"
        type="search"
        placeholder="Search..."
        aria-label="Search"
      />
      <button class="btn search-btn" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </div>
</nav>
<div class="container">
  <div class=" text-center mt-4">
    <h2 class="vision">Vision & Mission</h2>
  </div>
  <div class="row mt-4">
    <div class="col-lg-6 mb-3">
      <div class="box">
        <div>
          <h3 routerLink="course-detail" class="cursor-pointer">
             Education & Research
          </h3>
        </div>

        <ul class="text-start">
          <li>
            Certificate Courses (AI For Everyone / AI For Girl Power / AI For
            Film Education etc.)
          </li>
          <li>
            School / College Courses (Focus On NIOS / IGNOU Type Distance
            Learning Courses)
          </li>
          <li>Innovation & Entrepreneurship</li>
          <li>Competitive Examinations</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <div class="box">
        <div>
          <h3> Health Care & Human Engineering</h3>
        </div>
        <ul class="text-start">
          <li>Patient Care</li>
          <li>Health Camp</li>
          <li>Healthcare Training</li>
          <li>Biomedical Engineering</li>
          <li>Human Transformation</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 mb-3">
      <div class="box">
        <div>
          <h3 > Digital Self Governance</h3>
        </div>

        <ul class="text-start">
        <li>Evolving Self Regulatory Framework Along Emerging Shared Ideals
        </li>
        <li>Digital Justice Delivery</li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 mb-3">
      <div class="box">
        <div>
          <h3>Socio-Economic Transformation</h3>
        </div>
        <ul class="text-start">
          
            Evolving digital ceekul system will convert the culture of perpetual
            crime competition, corruption and frequent wars to a new culture of
            perpetual creative competition, innovation and justice with health
            promoting entertainment.
          
        </ul>
      </div>
    </div>
  
  </div>
  <div class="row">
   
    <div class="col-lg-6 mb-3">
      <div class="box">
        <div>
          <h3>Environment Friendly Regional Development</h3>
        </div>
        <ul class="text-start">

  <li>Regional Planning</li>
  <li>Environment Friendly Social Industrialization</li>
  <li>Environment, Ecology & Biodiversity</li>
        </ul>
       
      </div>
    </div>
  </div>
</div>
<div class="row mt-4 px-5 mb-4">
  <div class="col">
    <a routerLink="/signup" class="text-white text-decoration-none">Register</a>
  </div>
  <div class="col"><a>Chat</a></div>
  <div class="col"><a>Contact</a></div>
</div>
<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
