
.cursor-pointer{
  cursor: pointer;
}

.box{
border-radius: 10px;
padding: 0.5rem;
text-align: center;
box-shadow: 0px 0px 9px 1px  #FF9933;
min-height: 13rem;
height: 100%;
max-height: auto;
text-overflow: ellipsis;
}
.box h3{
  color: #FF9933;
}
.vision{
    color: #fff;
    font-weight: bold; 
    cursor: pointer;
}

