<div class="container-fluid bg-dark h-100">
  <div class="main-section">
    <app-navbar></app-navbar>

    <div class="container">
      <div class="p-3">
        <marquee width="80%" direction="left" height="30px" scrollamount="1">
          Online Seminar on AI for Girl Power during 2-5 PM on the fourth Sunday of
          every month
        </marquee>
      </div>
      <div class="row h-100 main-heading">
        <div class="justify-content-center align-items-center w-75 m-auto mt-lg-5">
          <h1 class="title">The best way to predict <br>the future is to invent it </h1>
          <p>Creativity is just connecting things. When you ask creative people how they did something, they feel a
            little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a
            while</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- our services -->
<div class="container-fluid  pt-5 vision-mission">
  <div class="container">
    <div class=" text-start">
      <h4 class="vision">Vision & Mission</h4>
      <h2>Any individual or ceegroup can click CREATE button to create lecture, film, design, idea of new product,
        advertisement, edit etc.</h2>
    </div>
    <div class="row mt-4">
      <div class=" col-lg-4  mb-3">
        <div class="box">
          <div>
            <h3 routerLink="course-detail" class="cursor-pointer">
              Education & Research
            </h3>
          </div>

          <ul class="text-start">
            <li>
              Certificate Courses (AI For Everyone / AI For Girl Power / AI For
              Film Education etc.)
            </li>
            <li>
              School / College Courses (Focus On NIOS / IGNOU Type Distance
              Learning Courses)
            </li>
            <li>Innovation & Entrepreneurship</li>
            <li>Competitive Examinations</li>
          </ul>
        </div>
      </div>
      <div class=" col-lg-4  mb-3">
        <div class="box">
          <div>
            <h3> Health Care</h3>
          </div>
          <ul class="text-start">
            <li>Patient Care</li>
            <li>Health Camp</li>
            <li>Healthcare Training</li>
           
          </ul>
        </div>
      </div>
      <div class=" col-lg-4   mb-3">
        <div class="box">
          <div>
            <h3>Human Engineering</h3>
          </div>
          <ul class="text-start">

            <li>Biomedical Engineering</li>
            <li>Human Transformation</li>
          </ul>
        </div>
      </div>

    </div>






    <div class="row ">
      <div class="col-lg-4  mb-3">
        <div class="box">
          <div>
            <h3>Socio-Economic Transformation</h3>
          </div>
          <ul class="text-start">

            Evolving digital HS Academy system will convert the culture of perpetual
            crime competition, corruption and frequent wars to a new culture of
            perpetual creative competition, innovation and justice with health
            promoting entertainment.

          </ul>
        </div>
      </div>
      <div class="col-lg-4  mb-3">
        <div class="box">
          <div>
            <h3>Environment Friendly Regional Development</h3>
          </div>
          <ul class="text-start">

            <li>Regional Planning</li>
            <li>Environment Friendly Social Industrialization</li>
            <li>Environment, Ecology & Biodiversity</li>
          </ul>

        </div>
      </div>
      <div class="col-12 col-lg-4  mb-3">
        <div class="box">
          <div>
            <h3> Digital Self Governance</h3>
          </div>

          <ul class="text-start">
            <li>Evolving Self Regulatory Framework Along Emerging Shared Ideals
            </li>
            <li>Digital Justice Delivery</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- who we are -->
<div class="container text-dark">
  <div class="heading mt-4">
    <h4>HS ACADEMY</h4>
  </div>
  <div class="para">
    <h2>
      The goal of this academy is to create platform to let any registered member enjoy ultra tech and personalized
      facilities by instructing the cloud driven self learning machines from her/his personal page through mobile (or
      wearable CEETECH ring).
    </h2>
  </div>
  <div class="row mt-4 my-md-5 overflow-hidden d-none">
    <div class="col-12 col-md-6 mb-4 mb-md-0 ">
      <div class="ceekul-height p-4">
        <div class="row text-center text-lg-left">
         
          <div class="col-12 col-lg-12 text-start">
            <h2 class=" font-20 semi-font my-2 mb-lg-3 ">LCC (Local Ceekul Center) </h2>
            <div class="">
              will be a 5 storey, 4D printed and foldable centre at a land area of 100 meter x 100 meter surrounded by
              concentric green area of 1 Km x 1 Km at every 10 Km for the automated monitoring of all the IOT systems
              within 10 Km x 10 Km area besides automated health check up and emergency care; automated justice delivery
              online
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mb-4 mb-md-0 wow fadeInDown " >
      <div class="ceekul-height p-4">
        <div class="row text-center text-lg-left">
         
          <div class="col-12 col-lg-12">
            <h2 class="fables-second-text-color font-20 semi-font my-2 mb-lg-3 about-block-heading">RCC (Regional Ceekul
              Center)
            </h2>
            <div class="font-15 fables-forth-text-color ">
              will be a 5 storey, 4D printed and foldable center at a land area of 1 Km x 1 Km surrounded by 10 Km x 10
              Km green area at every 500 Km on earth. It will be a center for research, project guidance, nature care,
              tourism and regional planning etc. Large number of students interested to have hands on experience at the
              nearby industrial unit will live here for 6 months while those dedicated for planned research will live
              here for 6 months to 4 years. The Vice Chancellor, RCC will guide all the activities within 500 Km x 500
              Km area.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="para mt-4">
      <p>Ceekul will be a 50 storey, 4D printed and foldable building at a land area of 200 Km x 200 Km surrounded by
        500 Km x 500 Km concentric green zone where almost 1000 crore persons from whole world will live like a KUTUMB
        and will enjoy every ultra tech and personalized facility like fooding, lodging, clothing, health, education,
        communication, justice, security, transport etc AS A Service by instructing the cloud driven self learning
        machines from her/his personal page through wearable Ceetech ring. The whole Ceekul infrastructure will be
        designed by the latest virtual reality software with haptic feelings. Ceekul Academy will be at the center where
        the best researchers and visionaries will live for 6 months to 4 years for creating innovative ideas.</p>
    </div>
  </div>
  <div class="row overflow-hidden mb-3">
    <div class="col-12 col-md-6">
      <div class="image-container translate-effect-right">
        <img src="../../../assets/images/girls.jpeg" alt="Fables Template" class="girls-img">
      </div>
    </div>
    <div class="col-12 col-md-6 mt-4 mt-md-0">
      <span class="fables-iconrocket-icon fables-second-text-color fa-3x"></span>
      <h2 class="font-30 font-weight-bold fables-second-text-color my-4 d-inline-block d-lg-block wow fadeInRight"
        data-wow-duration="1.5s">Our Mission</h2>
      <div class="fables-vision-detail fables-forth-text-color wow fadeInRight" data-wow-duration="1.5s">
        The construction of any Ceekul infrastructure will be such that the whole building could be assembled (or
        opened) at a click of button by matching the software code and all the building resources could be reused for
        the construction of any industrial unit.<br><br>
        Any registered member will watch the activities of any Ceekul infrastructure and will enjoy the virtual tour
        with haptic feelings by filling the respective Id no. The Id of Ceekul will start with 1, RCC with 2, LCC with
        3, local unit with 4 etc.
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>