
<div class="container mt-3">
  <div class="general-form">
    <div class="login rounded py-2">
      <div class="text-center">
        <h1 class="text-white">REGISTER</h1>
      </div>
      <div class="step1" [ngStyle]="{'display':step1}">
        <form class="px-3" [formGroup]="registerForm">
          <div class="mb-3">
            <div class="text-center ms-3 f-label">
              <label>Your mobile no.</label>
            </div>

            <div class="text-fields px-3">
              <input type="text" formControlName="mobileNo" required />
            </div>
          </div>
          <div
            *ngIf="
              getControl['mobileNo'].touched && getControl['mobileNo'].invalid
            "
            class="text-danger"
          >
            <div *ngIf="getControl['mobileNo'].errors?.['required']">
              Mobile No. is required.
            </div>
            <div *ngIf="getControl['mobileNo'].errors?.['pattern']">
              invalid Mobile Number.
            </div>
            <div *ngIf="getControl['mobileNo'].errors?.['length']">
              connot be empty.
            </div>
          </div>

          <div class="mb-3">
            <div class="text-center ms-3 f-label">
              <label>Your date of birth</label>
            </div>
            <div class="text-fields px-3">
              <input type="date" formControlName="dob" required />
            </div>
          </div>
          <div
            *ngIf="getControl['dob'].touched && getControl['dob'].invalid"
            class="text-danger"
          >
            <div *ngIf="getControl['dob'].errors?.['required']">
              Date of birth is required.
            </div>
          </div>
          <div class="mb-3">
            <div class="text-center ms-3 f-label">
              <label>Your place of birth</label>
            </div>
            <div class="text-fields px-3">
              <input type="text" formControlName="placeofbirth" required />
            </div>
          </div>
          <div
            *ngIf="
              getControl['placeofbirth'].touched &&
              getControl['placeofbirth'].invalid
            "
            class="text-danger"
          >
            <div *ngIf="getControl['placeofbirth'].errors?.['required']">
              Birth place is required.
            </div>
          </div>
          <div class="mb-3">
            <div class="text-center ms-3 f-label">
              <label>Your gender </label>
            </div>
            <div class="text-fields px-3">
              <select
                class="f-select"
                aria-label="Default select example"
                formControlName="gender"
                required
              >
                <option selected>Select</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
          <div
            *ngIf="getControl['gender'].touched && getControl['gender'].invalid"
            class="text-danger"
          >
            <div *ngIf="getControl['gender'].errors?.['required']">
              Gender is required.
            </div>
          </div>
          <div class="mb-3">
            <div class="text-center ms-3 f-label">
              <label>Do you belong to below poverty line category</label>
            </div>
            <div class="text-fields px-3">
              <select
                class="f-select"
                aria-label="Default select example"
                formControlName="belowpoverty"
                required
              >
                <option selected>Select</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
          </div>
          <div
            *ngIf="
              getControl['belowpoverty'].touched &&
              getControl['belowpoverty'].invalid
            "
            class="text-danger"
          >
            <div *ngIf="getControl['belowpoverty'].errors?.['required']">
              Below poverty line is required.
            </div>
          </div>
          <div class="mb-3">
            <div class="text-center ms-3 f-label">
              <label> Do you belong to the underprivileged category</label>
            </div>
            <div class="text-fields px-3">
              <select
                class="f-select"
                aria-label="Default select example"
                formControlName="underprivileged"
                required
              >
                <option selected>Select</option>

                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
          </div>
          <div
            *ngIf="
              getControl['underprivileged'].touched &&
              getControl['underprivileged'].invalid
            "
            class="text-danger"
          >
            <div *ngIf="getControl['underprivileged'].errors?.['required']">
              Underprivileged category is required.
            </div>
          </div>
          <div class="mb-3">
            <label for="" class="small-font">
              Please upload the documents. You may get your data verified by any
              Manager (or Director) of Ceekul Academy whenever you wish. If you
              don't have a mobile number or any ID Proof then pl get the video
              of your visual identity verified by her/him.
            </label>
          </div>
          <div class="mb-3">
            <div
              class="text-fields d-flex align-items-center justify-content-center px-3"
            >
              <label for="upload" class="terms">Upload</label>
              <input type="file" class="d-none" id="upload" />
            </div>
          </div>

          <div id="recaptcha-verifier" class="mb-3"></div>
          <div class="mb-3">
            <label class="mx-1 small-font">Please read the</label
            ><a class="terms small-font"> self regulatory framework</a>
          </div>
          <div class="mb-3 d-flex">
            <input
              type="checkbox"
              class="me-3"
              formControlName="iAgreeToTnC"
              id="in-check"
            /><label for="in-check" class="me-1 small-font"
              >I agree with the self regulatory framework.</label
            >
          </div>
          <div id="sign-in-button" class="mb-3"></div>
          <div class="mb-3">
            <button type="button" (click)="sendOtp()" class="log-in" >
              Send OTP
            </button>
            <!-- <mat-spinner color="warn" ></mat-spinner> -->
          </div>
          <div class="mb-3 text-center">
            <label for="in-check" class="me-1 small-font"
              >Already registered? </label
            ><a routerLink="/login" class="terms">Log In</a>
          </div>
        </form>
      </div>
      <div  [ngStyle]="{'display':step2}">
        <form class="px-3">
          <div class="mb-3">
            <div class="text-center ms-3 f-label">
              <label>Enter otp</label>
            </div>

            <div class="text-fields px-3">
              <input
                type="text"
                [(ngModel)]="otp"
                [ngModelOptions]="{ standalone: true }"
                required
              />
            </div>
          </div>

          <div class="mb-3">
            <button type="button" (click)="verifyOTP()" class="log-in">
              verify otp
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
